*
!/src
!/src/**
!/extras
!/extras/**
!/win_installer
!/win_installer/**
/src/molview.pro
/src/molview.pro.*
CMakeLists.txt.user.*
CMakeLists.txt.user
.vscode
.vscode/**
!CMakeLists.txt
!COPYING
!README.md
!.gitignore
!qmolview_cmake_config.h.in
!org.physchem.qmolview.json